
body { margin: 5; }

header {
    background-color: white;
}

.container {
    position: relative;
    margin: auto;
}

.columnsContainer {
    position: relative;
    margin: auto;
    background-color: whitesmoke;
    height: auto;
}
.collapse navbar-collapse {
    left: auto !important;
    right: 0px
}

.row {
    height: 100%;
    width: 100%;

}

.leftColumn, .rightColumn {
    padding: 3em;
    height: 100%;
}


.table {
    border:1px; 
    width:100%;
}

@media screen and (min-width: 47.5em) {
    .leftColumn { margin-right: 19.5em; width: 65%; height: 100%;}
    .rightColumn { position: absolute; top: 0; right: 0; width: 35%; height: 100%;} 
    .collapse navbar-collapse {width: 100%; height: auto;}  
  }

@media only screen and (max-width: 320px) {
    .responsive {width: 100%; height: auto;
    }

.navbar .collapse .navbar-nav li a{
    color: green !important;
}

.navbar .navbar-nav .nav-item .nav-link .dropdown-menu .dropdown-item{
    color: black !important;
}

.navbar .navbar-nav .nav-item .nav-link .dropdown-menu .dropdown-item:hover{
    color: black !important;
    background-color:red;
    opacity: 0.5;
}

.navbar .navbar-nav .nav-item .nav-link{
    color: black !important;
}

.navbar .navbar-nav .nav-item .nav-link:hover{
    color: black !important;
    background-color:red;
    opacity: 0.5;
}

.navbar-toggler{
    background-color: white;
}

h2 {
    color: rgb(9, 138, 130);
    font-size: 24px;

}

h3 {
    color :rgb(9, 138, 130);
    font-size: 20px;
}